body {
  font-family: "Libre Baskerville", serif;
  font-family: "Public Sans", sans-serif;
}
.navbar-color {
  background: linear-gradient(to left, #e7f7fd, #e9ecfc, #ece0fb);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.input-bottom-border,
.input-bottom-border:active,
.input-bottom-border:focus {
  border-bottom: 1px solid rgb(234, 200, 200) !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
}

.input-bottom-border::placeholder {
  color: rgb(170, 164, 164) !important;
  font-size: small;
}
.link-text {
  font-size: 14px;
  color: rgb(97, 173, 236);
  text-decoration: none;
}
/* Home.css */

.hero {
  background-image: url("./../public/wepik-export-20231109193132sIn9.png"); /* Add your hero image */
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.about {
  padding: 50px 0;
}

.parallax {
  background-image: url("./../public/wepik-export-20231109193132sIn9.png"); /* Add your parallax image */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 100px 0;
}

.back-img {
  background: linear-gradient(to right, #e7f7fd, #e9ecfc, #ece0fb);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow-box {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(42, 25, 25, 0.5);
}

.link-text {
  font-size: 10px;
  color: rgb(103, 163, 212);
  text-decoration: none;
}
